name: Build Flutter APK
on:
  push:
    branches:
      - main # Veya "master"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with: { distribution: 'temurin', java-version: '11' }
      - uses: subosito/flutter-action@v2
        with: { channel: 'stable' }
      - run: flutter pub get
      - run: dart run flutter_launcher_icons
      - run: flutter build apk --release
      - uses: actions/upload-artifact@v3
        with: { name: app-release.apk, path: build/app/outputs/flutter-apk/app-release.apk }
